<%- include("./partials/header")%>
   

    <div class="mt-5">
        <form>
          <div class="form-group">
            <label for="imgUrl">Image URL:</label>
            <input type="text" class="form-control" id="imgUrl" name="imgUrl" placeholder="img url">
          </div>
          <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Team Name">
          </div>
          <div class="form-group">
            <label for="members">Members</label>
            <input type="password" class="form-control" id="members" name="members" placeholder="ex: Erika, Juliana, Elise, Luciana,...">
          </div>

          <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
    

<%- include("./partials/footer")%>

