
 <%- include("./partials/header") %>
 

 <form method="POST" action="/form" class="use-form" >
    <div class="form-group row">
      
    <div class="col-sm-2">
        <label for="username :" class="label font-weight-bold">Username:</label>
      </div>

      <div class="col-sm-6 ">
        <input type="text" class="form-control" id="username" name="username">
      </div>

      <div class="col-sm-4">
      <input class="btn btn-primary btn-md " type="submit" name="submit" value="submit">        
      </div>
    </div>
 </form>

 <%- include("./partials/footer") %>
