
<%- include("./partials/header") %>

    <div class="title">
        <h1> Welcome! <%= username %></h1>
    </div>
         
    <p> Test your JavaScript knowledge</p>

    <div>
        <form method ="POST" action="/quizzr">
            <div>    
                <p>1. Peter Parker works as a photographer for:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="answer1_1" value="option1">
                    <label class="form-check-label" for="answer1_1">
                        The Daily Planet
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="answer1_2" value="option2">
                    <label class="form-check-label" for="answer1_2">
                        The Daily Bugle
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="answer1_3" value="option3">
                    <label class="form-check-label" for="answer1_3">
                        The New York Times
                    </label>            
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question1" id="answer1_4" value="option4">
                    <label class="form-check-label" for="answer1_4">
                        The Sun
                    </label>            
                </div>      
            </div> 

            <div>    
                <p>2. S.H.I.E.L.D.'s highest ranking agent is:</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer2_1" value="option1">
                    <label class="form-check-label" for="answer2_1">
                        Nick Fury
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer2_2" value="option2">
                    <label class="form-check-label" for="answer2_2">
                        Stevens Rogers
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer2_3" value="option3">
                    <label class="form-check-label" for="answer2_3">
                        Peter Parker
                    </label>            
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer2_4" value="option4">
                    <label class="form-check-label" for="answer2_4">
                        Natalia Romanova
                    </label>            
                </div> 
            </div>
            

            <div>    
                <p>3. Captain America was frozen in which war? </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_1" value="option1">
                    <label class="form-check-label" for="answer3_1">
                        World War I
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_2" value="option2">
                    <label class="form-check-label" for="answer3_2">
                        World War II
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_3" value="option3">
                    <label class="form-check-label" for="answer3_3">
                        American Civil War
                    </label>            
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_4" value="option4">
                    <label class="form-check-label" for="answer3_4">
                        Cold War
                    </label>            
                </div> 
            </div>

            <div>    
                <p>4. What is commonly believe to be The Black Widow's previous occupation before
                becoming a Russian spy? </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_1" value="option1">
                    <label class="form-check-label" for="answer4_1">
                        A ballerina
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_2" value="option2">
                    <label class="form-check-label" for="answer4_2">
                        A military pilot
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_3" value="option3">
                    <label class="form-check-label" for="answer4_3">
                        A thief
                    </label>            
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_4" value="option4">
                    <label class="form-check-label" for="answer3_4">
                        An athlete
                    </label>            
                </div> 
            </div>

            <div>    
                <p>5. What vehicle is the Avengers primary mode of transport? </p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_1" value="option1">
                    <label class="form-check-label" for="answer4_1">
                        A bus
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_2" value="option2">
                    <label class="form-check-label" for="answer4_2">
                        The Quinjet
                    </label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer4_3" value="option3">
                    <label class="form-check-label" for="answer4_3">
                        The Blackbird
                    </label>            
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="question2" id="answer3_4" value="option4">
                    <label class="form-check-label" for="answer3_4">
                        The Blackhawk
                    </label>            
                </div> 
            </div>







            

            <input type="submit"  class ="btn btn-primary" name="button" value="submit">      

        </form>        
    </div>
    
    </div>
    
  
<%- include("./partials/footer") %>
