<%- include("./partials/header") %>


<div class="row img-row">
          
    <div class="col-sm-12 img-col">
    <img src="/images/marvel.png" alt="all-marvel-superheros" class="img-fluid img-responsive">
    <p class="welcome-font text-secondary">Your results were:</p> 
    <p><%= result %></p>
    </div>

</div>

  

















<%- include("./partials/footer") %>